/* Error: Undefined mixin.
 *    ,
 * 28 | /     @include MQ(L) {
 * 29 | |       /* title goes into the header on big devices *∕
 * 30 | |       color: $color-5;
 * 31 | \     }
 *    '
 *   style.scss 28:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 28 \2502  \250c      @include MQ(L) {\a 29 \2502  \2502        /* title goes into the header on big devices */\a 30 \2502  \2502        color: $color-5;\a 31 \2502  \2514      }\a    \2575 \a   style.scss 28:5  root stylesheet";
}
