$color-1: #D53D5A; // Bright Pink
$color-2: #DA786A; // Light Pink
$color-3: #69BBB3; // Light Teal
$color-4: #2C949C; // Dark Teal
$color-5: #FCF9F2; // White Sand
$color-6: #211F38; // Dark Navy

// additional colors

$success: #EAAD3B; // Golden Sun
$alert: $color-1; // Bright Pink